{% extends "base.html.twig" %}

{% block title %}Resultado{% endblock %}

{% block content %}
    {% if status %}
        <p>Felicitaciones se publicó con éxito</p>
    {% else %}
        <p>Ups! Ocurrio un error y no se pudo publicar</p>
    {% endif %}

{% endblock %}
