<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/docs.css">
    </head>
    <body>
        <div ng-include="'html/navbar.html'"></div>
        <div class="row ">    
            <div class="col-lg-offset-3 col-lg-6 jumbotron MainCont">                
                <div class="row ">
                    <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 ">
                        <div  class="input-group inputLogin">
                            <label id="usuarioML" class="text-center">Ingrese su usuario de mercado libre</label>
                            <input type="text" name="usuario" id="usuarioML" class="form-control" placeholder="ingrese su usuario">
                        </div> 
                        
                         <div  class="input-group inputLogin">
                            <label id="pswML" class="text-center">Ingrese su password de mercado libre</label>
                            <input type="text" name="usuario" id="pswML" class="form-control" placeholder="ingrese su password">
                        </div> 
    
                    </div>
                </div>   
                
            </div>
        </div>
            <script src="http://static.mlstatic.com/org-img/ch/vendor/jquery/jquery-1.10.2.min.js"></script> 
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="http://static.mlstatic.com/org-img/ch/ui/1.1.1/chico.min.js"></script>
            <script src="http://static.mlstatic.com/org-img/ch/vendor/zepto/zepto-1.0.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
            <style>
                /*inicio index*/
                .MainCont {
                    margin-top: 5em;
                }
                .inputLogin {
                    padding: 1em;
                }
                
                /*fin index*/    
            </style>
        </body>
    </html>
