{% extends "base.html.twig" %}

{% block title %}Eventos{% endblock %}

{% block content %}
    {% for event in events %}
        <a href="{{ path('promote_events', {event_id: event.id, item_id: item_id}) }}">{{event.name}}</a>
        <hr>
    {% endfor %}
{% endblock %}
