{% extends "base.html.twig" %}

{% block title %}Paginas{% endblock %}

{% block content %}
    {% for page in pages %}
        <a href="{{ path('promote_pages', {page_id: page.id}) }}">{{page.name}}</a>
        <hr>
    {% endfor %}
{% endblock %}
