{% extends "base.html.twig" %}

{% block title %}Account!{% endblock %}

{% block content %}
    Account Page:
    <br/>
    {% if is_user %}
        <a href="{{ path('listing') }}">Mis publicaciones</a>
    {% else %}
        <a href="{{ path('login') }}">Logeate con MercadoLibre</a>
    {% endif %}

{% endblock %}
