<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Promoted Listings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<style type="text/css">
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600');

html,
body {
  height: 100%;
  width: 100%;
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.vert {
    vertical-align: middle;
    width:100%;
    padding-top:5%;
}

.header h1 {
    font-size:80px;
    -webkit-text-stroke: 1px rgba(0,0,0,0.05);
    color:#2D3277;
    /*margin-left:-5px;*/
    margin-bottom:12px;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.header .lead {
    color:#333;
    font-size:25px;
}

.header {
    height: 100%;
    background: #FFE600 url('http://www.bootply.com/assets/example/pt_squares_lg.png') repeat center center fixed;
}

</style>
</head>
<body>
<div class="header vert">
    <div class="container">
        <h1>Promoted Listings</h1>
        <p class="lead">Ingresá con tu cuenta de MercadoLibre</p>
        <div>&nbsp;</div>
        <a href="{{ app.path('login') }}" class="meli-connect">
            <img src="/i/meli-connect.png">
        </a>
    </div>
</div>
</body>
</html>
